<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <script src="../public/javascripts/main.js" defer></script>
</head>
<body>
  <div class="main-layout">
    <header class="main-layout__header main-header">
      <div>
        <button class="leftbar-toggle btn">Categories</button>
        <div class="leftbar-box-overlay hidden">
          <div class="leftbar-box full-height hidden">
            <div class="flex-col gap-4 full-height bg-primary">
              <div class="tablist">
                <div class="tablist__item" href="#">
                  <a href="#" class="mr-auto">Ship</a>
                  <a><button class="btn">Edit</button></a>
                  <a><button  class="btn">Delete</button></a>
                </div>
                <a class="tablist__item" href="#">Swords</a>
                <a class="tablist__item" href="#">Devil Fruit</a>
              </div>

              <a><button class="btn full-width">Add Category</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="logo">
        One Piece Store
      </div>
    </header>

    <div class="main-layout__leftbar">
      <div class="flex-col gap-4">
        <div class="tablist">
          <a class="tablist__item" href="#">Ships</a>
          <a class="tablist__item" href="#">Swords</a>
          <a class="tablist__item" href="#">Devil Fruit</a>
        </div>

        <a><button class="btn full-width">Add Category</button></a>
      </div>
    </div>

    

    <div class="main-layout__main">
      <div class="card-container">
        <a href="#">
          <div class="card  card__primary-action">
            <div class="card__content">
              <div>title</div>
              <div>20.000</div>
              <div>stock 200</div>
            </div>
          </div>
        </a>

        <div class="card">
          <div class="card__content">
            <div>title</div>
            <div>20.000</div>
            <div>stock 200</div>
          </div>
        </div>

        <div class="card card">
          <div class="card__content">
            <div>title</div>
            <div>20.000</div>
            <div>stock 200</div>
          </div>
        </div>

        <div class="card card__primary-action">
          <div class="card__content">
            <div>title</div>
            <div>20.000</div>
            <div>stock 200</div>
          </div>
        </div>

        <div class="card">
          <div class="card__content">
            <div>title</div>
            <div>20.000</div>
            <div>stock 200</div>
          </div>
        </div>

        <div class="card">
          <div class="card__content">
            <div>title</div>
            <div>20.000</div>
            <div>stock 200</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>